@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
/*Адаптив изображений*/
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden; }

/*--------------------*/
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?qt3hbq");
  src: url("../fonts/icomoon.eot?qt3hbq#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?qt3hbq") format("truetype"), url("../fonts/icomoon.woff?qt3hbq") format("woff"), url("../fonts/icomoon.svg?qt3hbq#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-Luna:before {
  content: "\e900"; }

.icon-faisbuk:before {
  content: "\e901"; }

.icon-instagram:before {
  content: "\e902"; }

.icon-M:before {
  content: "\e903"; }

.icon-Solnce:before {
  content: "\e904"; }

.icon-tvitr:before {
  content: "\e905"; }

.icon-Ytub:before {
  content: "\e906"; }

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden; }

.conteiner {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px; }
  @media (max-width: 1200px) {
    .conteiner {
      max-width: 1000px; } }

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  min-width: 100%; }

.bagraynd {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("../img/body/Component 64.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.heder {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10; }

.heder-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 180px;
  position: relative; }
  @media (max-width: 767px) {
    .heder-body {
      height: 90px; } }

.heder-Logo {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 11.3475%;
  flex: 0 0 11.3475%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1; }

@media (max-width: 375px) {
  .heder-Logo img {
    width: 130px; } }

.heder-MainPart {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 82.6525%;
  flex: 0 0 82.6525%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 1200px) {
    .heder-MainPart {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 80%;
      flex: 0 0 80%; } }

.heder-MainPart-list {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 22.127%;
  flex: 0 0 22.127%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 1200px) {
    .heder-MainPart-list {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 37%;
      flex: 0 0 37%;
      margin-left: 3vw; } }

.list {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.link a {
  font-size: 16px;
  color: #000;
  font-weight: 700;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s; }

.heder-MainPart-authorization {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 38.72%;
  flex: 0 0 38.72%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 1200px) {
    .heder-MainPart-authorization {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
      flex: 0 0 45%;
      margin-left: 3vw; } }
  @media (max-width: 900px) {
    .heder-MainPart-authorization {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 53%;
      flex: 0 0 53%; } }

.switchTopics {
  padding: 11px 16px;
  background: #fff;
  border-radius: 10px; }

.switchTopics span {
  padding: 0;
  margin: 0; }

.switchTopics span p {
  display: none; }

.switchTopics a:first-child span {
  padding-right: 18px;
  color: #000; }

.switchTopics a {
  font-size: 16px;
  color: #d1d1d1; }

.authorization {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.SignIn {
  margin-right: 32px; }

.SignIn a {
  font-size: 16px;
  color: #000;
  font-weight: 700; }

.SignIn span {
  width: 100%;
  height: 1px;
  display: block;
  background: #ceacba; }

.SignUp {
  padding: 16px 28px;
  background: #de3d9b;
  border-radius: 20px; }

.SignUp a {
  font-size: 16px;
  color: #fff;
  font-weight: 700; }

.heder-menu__icon {
  display: none; }

.heder-menu {
  display: none; }

@media (max-width: 767px) {
  .heder-MainPart {
    display: block; }
  .list {
    display: block;
    padding-top: 115px; }
  .link {
    padding-bottom: 23px; }
  .link a {
    font-size: 48px;
    color: #fff; }
  .heder-MainPart-authorization {
    display: block; }
  .authorization {
    display: block; }
  .switchTopics span {
    font-size: 25px;
    color: #fff; }
  .switchTopics span p {
    display: inline;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: #fff;
    font-weight: 700;
    margin-left: 12px; }
  .switchTopics {
    padding-top: 20vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: transparent; }
  .switchTopics a span:first-child {
    padding-right: 10vw;
    color: #fff; }
  .SignIn {
    background: #fff;
    margin: 0;
    margin-top: 35px;
    text-align: center;
    padding: 25px 0;
    border-radius: 30px; }
  .SignIn a {
    font-size: 18px;
    color: #de3c9f;
    font-weight: 800;
    text-align: center; }
  .SignIn span {
    display: none; }
  .SignUp {
    background: transparent;
    border: 1px solid #fff;
    margin: 0;
    margin-top: 15px;
    text-align: center;
    padding: 25px 0;
    border-radius: 30px; }
  .SignUp a {
    font-size: 16px;
    color: #fff;
    font-weight: 700; }
  body.lock {
    overflow: hidden; }
  .heder-menu__icon-body {
    width: 18px;
    height: 16px;
    position: relative; }
  .heder-menu__icon {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 15px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 5;
    background: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4); }
    .heder-menu__icon span {
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      top: 7px;
      left: 0px;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #000000; }
      .heder-menu__icon span:first-child {
        top: 0;
        left: 5px;
        width: 11px; }
      .heder-menu__icon span:last-child {
        top: auto;
        left: 2px;
        width: 11px;
        bottom: 0px; }
    .heder-menu__icon.active span {
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0); }
      .heder-menu__icon.active span:first-child {
        width: 14px;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 8px;
        left: 2px; }
      .heder-menu__icon.active span:last-child {
        width: 14px;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 8px;
        left: 2px; }
  .heder-menu {
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    overflow: auto;
    left: -120%;
    top: 0;
    background: -webkit-linear-gradient(45deg, #DE3CB1 0%, #De3C76 100%);
    background: -o-linear-gradient(45deg, #DE3CB1 0%, #De3C76 100%);
    background: linear-gradient(45deg, #DE3CB1 0%, #De3C76 100%);
    padding: 15px;
    padding-top: 25px; }
    .heder-menu.active {
      left: 0; } }

.foter-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 130px;
  position: relative;
  z-index: 2;
  border-top: 1px solid #000; }
  @media (max-width: 800px) {
    .foter-body {
      min-height: 300px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.foter-flex-line {
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  width: 100%; }

.foter-body-left {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 36.87%;
  flex: 0 0 36.87%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 1200px) {
    .foter-body-left {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
      flex: 0 0 40%; } }
  @media (max-width: 800px) {
    .foter-body-left {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      display: none;
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2; } }

.foter-body-left-Logo {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%; }
  @media (max-width: 800px) {
    .foter-body-left-Logo {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding-bottom: 20px;
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2; } }

.foter-body-left-meny {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 59.61%;
  flex: 0 0 59.61%;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 45px;
  position: relative;
  top: 5px; }
  @media (max-width: 800px) {
    .foter-body-left-meny {
      top: 25px;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
      flex: 0 0 60%;
      max-width: 270px; } }

.foter-body-left-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.foter-body-left-link {
  margin-right: 10px; }
  @media (max-width: 1320px) {
    .foter-body-left-link {
      margin-bottom: 10px; } }

.foter-body-left-link span {
  width: 100%;
  height: 1px;
  display: block;
  background: #ceacba; }

.foter-body-left-link a {
  font-size: 13px;
  color: #000;
  font-weight: 600; }

.foter-body-left-link:nth-child(1) {
  margin-bottom: 10px; }

.foter-body-reght {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 47.63%;
  flex: 0 0 47.63%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 1200px) {
    .foter-body-reght {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
      flex: 0 0 45%;
      padding-left: 2vw; } }
  @media (max-width: 800px) {
    .foter-body-reght {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
      flex: 0 0 30%;
      margin-bottom: 30px;
      display: none;
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1; } }

.foter-body-reght-languages {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 27.06%;
  flex: 0 0 27.06%; }
  @media (max-width: 800px) {
    .foter-body-reght-languages {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
      order: 3;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-flex: 100%;
      -ms-flex: 100%;
      flex: 100%;
      padding-bottom: 20px; } }

.foter-body-reght-languages-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.foter-body-reght-languages-link {
  padding-right: 5px; }

.foter-body-reght-languages-link a {
  font-weight: 500;
  font-size: 14px;
  color: #000;
  line-height: 17.07px; }

.foter-body-reght-languages-link span {
  width: 100%;
  height: 1px;
  display: block;
  background: #ceacba; }

.foter-body-reght-languages-link.activ a {
  font-weight: 800;
  /*background: linear-gradient(45deg, #DE3CB1 0%,#DE3C76 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;*/
  color: #DE3C76;
  /*display: table;*/ }

.foter-body-reght-languages-link.activ span {
  display: none; }

.foter-body-reght-links {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 45.86%;
  flex: 0 0 45.86%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 1200px) {
    .foter-body-reght-links {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 65%;
      flex: 0 0 65%;
      padding-left: 1vw; } }
  @media (max-width: 800px) {
    .foter-body-reght-links {
      width: 150%;
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;
      padding: 0;
      padding-top: 35px;
      padding-bottom: 30px; } }

.foter-body-reght-links-text {
  line-height: 17.07px;
  font-size: 14px;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1; }
  @media (max-width: 1200px) {
    .foter-body-reght-links-text {
      font-size: 12px; } }
  @media (max-width: 800px) {
    .foter-body-reght-links-text {
      display: none; } }

.foter-body-reght-links-list {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 67.21%;
  flex: 0 0 67.21%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 800px) {
    .foter-body-reght-links-list {
      -webkit-box-flex: 100%;
      -ms-flex: 100%;
      flex: 100%; } }

.foter-body-reght-link a {
  font-size: 17px;
  /*background: linear-gradient(45deg, #DE3CB1 0%,#DE3C76 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;*/
  color: #DE3C76;
  /*display: table;*/ }

.footer-adaptiv {
  display: none; }

@media (max-width: 800px) {
  .footer-adaptiv {
    width: 100%;
    height: 100%;
    display: block; }
  .footer-adaptiv-icon {
    margin: 0 auto;
    max-width: 240px;
    height: 30px;
    margin-top: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .footer-adaptiv-logo {
    width: 100%;
    height: 30px;
    margin-top: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .footer-adaptiv-languages {
    max-width: 220px;
    margin: 0 auto;
    height: 19px;
    margin-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .footer-adaptiv-link {
    width: 100%;
    height: 75px;
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

.blog {
  position: relative;
  z-index: 5; }

.blog-fon {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  height: 440px; }

.blog-glavn {
  position: relative;
  top: -220px; }
  @media (max-width: 1000px) {
    .blog-glavn {
      top: -260px; } }

.blog-body-blok-img img {
  width: 100%;
  height: 100%; }

.blog-title {
  position: relative;
  z-index: 5;
  text-align: center;
  font-weight: 800;
  font-size: 64px;
  line-height: 76px;
  color: #DE3CB1;
  padding-bottom: 70px; }

.blog-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.blog-body-blok {
  position: relative;
  z-index: 5;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 32%;
  flex: 0 0 32%;
  min-height: 555px;
  background: #fff;
  margin-bottom: 20px;
  border-radius: 20px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4); }
  @media (max-width: 1000px) {
    .blog-body-blok {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
      flex: 0 0 48%; } }
  @media (max-width: 600px) {
    .blog-body-blok {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%; } }

.blog-body-blok-img {
  width: 100%;
  height: 340px; }

.blog-body-text {
  padding: 30px;
  position: relative; }

.blog-body-text a h2 {
  font-weight: 700;
  font-size: 18px;
  color: #000;
  line-height: 24px; }

.blog-body-text p {
  padding-top: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px; }

.calendar {
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 140px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 10px;
  padding: 10px 20px;
  background: #fff;
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2); }

.calendar img {
  width: auto;
  height: 12px; }

.calendar p {
  font-size: 12px;
  font-weight: 600;
  line-height: 14.63px;
  color: #000;
  padding: 0;
  margin: 0; }

.paginacia-body {
  position: relative;
  top: -160px;
  z-index: 6;
  margin: 0 auto;
  max-width: 490px;
  height: 60px;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 18px 25px; }
  @media (max-width: 1000px) {
    .paginacia-body {
      top: -120px; } }
  @media (max-width: 500px) {
    .paginacia-body {
      top: -70px; } }

.paginacia-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.paginacia-link a {
  font-size: 16;
  font-weight: 700;
  color: #000;
  line-height: 26px; }

.paginacia-link.activ a {
  padding: 4px 10px;
  background: #de3c91;
  border-radius: 50%;
  color: #fff; }

@media (min-width: 1024px) {
  .link:hover a {
    color: #de3c91;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s; }
  .foter-body-reght-languages-link:hover a {
    color: #de3c91;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s; }
  .blog-body-text a:hover h2 {
    color: #de3c91;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s; }
  .calendar:hover p {
    color: #de3c91;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s; }
  .paginacia-link:hover a {
    color: #de3c91;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s; }
  .paginacia-link.activ:hover a {
    color: #fff;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s; } }

.error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 2; }

.error-img {
  margin: 0 auto;
  margin-top: 180px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 835px;
  height: 445px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 1000px) {
    .error-img {
      width: 80vw;
      height: 40vw;
      margin-top: 15vw; } }

.error-img-numbers {
  font-size: 380px;
  color: #fff;
  font-weight: 700;
  position: absolute;
  text-shadow: 1px 10px 20px rgba(0, 0, 0, 0.2);
  z-index: 1; }
  @media (max-width: 1000px) {
    .error-img-numbers {
      font-size: 36vw; } }

.error-img-numbers:last-child {
  left: -5px; }

.error-img-numbers:first-child {
  right: -5px; }

.error-img-svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: -15px;
  left: 50%;
  overflow: hidden;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 5;
  width: 387px;
  height: 445px; }
  @media (max-width: 1000px) {
    .error-img-svg {
      width: 35vw;
      height: 100%; } }

.error-img-svg img {
  width: 100%;
  height: 100%; }

.error-title {
  color: #DE3C76;
  text-align: center;
  font-weight: 800;
  font-size: 64px;
  line-height: 76px; }
  @media (max-width: 1000px) {
    .error-title {
      font-size: 10vw; } }

.error-text {
  color: #000;
  padding-top: 15px;
  padding-bottom: 120px;
  text-align: center;
  font-weight: 400;
  font-size: 44px;
  line-height: 53.64px; }
  @media (max-width: 1000px) {
    .error-text {
      font-size: 6vw;
      padding-bottom: 5vw; } }
