 /*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/
/*Адаптив изображений*/
.ibg{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}
.ibg img{
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
}
/*--------------------*/

body {
	font-family: Arial;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: radial-gradient(#f2761e,#ef4921);
}
.box {
	display: flex;
}
.eye {
	position: relative;
	width: 120px;
	height: 120px;
	display: block;
	background: #fff;
	margin: 0 20px;
	border-radius: 50%;
	box-shadow: 0 5px 45px rgba(0,0,0,0.2),
	inset 0 0 15px #f2761e,
	inset 0 0 25px #f2761e;
}
.eye:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 35px;
	transform: translate(-50%,-50%);
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background: #000;
	border: 10px solid #2196f3;
}














