.book {
	padding: 95px 0;
	@media (max-width: 800px){
		padding: 85px 0;
	}
}
.book-title-h2 {
	min-width: 300px;
	min-height: 75px;
	border-radius: 20px;
	background: #5faf2d;
	padding: 20px 50px;
	display: inline-block;
	margin-bottom: 85px;
	@media (max-width: 900px){
		min-width: 100px;
		min-height: 30px;
		padding: 3vw 6vw;
	}
	@media (max-width: 375px){
		min-width: 195px;
		min-height: 42px;
		padding: 11px 30px;
		border-radius: 10px;
	}
}
.book-title-h3 {
	padding-bottom: 22px;
}
.book-container {
	text-align: center;
}
.book-body {
	display: flex;
	justify-content: space-between;
	@media (max-width: 1000px){
		flex-direction: column;
	}
}
.book-body-left {
	flex: 0 0 40%;
	padding-top: 25px;
	@media (max-width: 1000px){
		padding-bottom: 30px;
		order: 1;
	}
}
.book-body-left-blok {
	position: relative;
	width: 470px;
	height: 312px;
	display: inline-block;
	border-top-right-radius: 25%;
	border-bottom-left-radius: 25%;
	@media (max-width: 600px){
		width: 90%;
		height: 250px;
	}
	@media (max-width: 400px){
		max-width: 290px;
		height: 195px;
	}
}
.book-body-left-blok-img2 {
	position: absolute;
	top: -25px;
	right: -25px;
	z-index: 2;
	width: 100%;
	height: 100%;
	@media (max-width: 1000px){
		top: -15px;
		right: -15px;
	}
}
.book-body-left-blok-img {
	position: relative;
	z-index: 3;
	width: 100%;
	height: 100%;
	overflow: hidden;
	border-top-right-radius: 25%;
	border-bottom-left-radius: 25%;
}
.book-body-reght {
	flex: 0 0 60%;
	text-align: left;
	padding-right: 45px;
	@media (max-width: 1200px){
		padding-left: 25px;
	}
	@media (max-width: 1000px){
		order:2;
	}
	@media (max-width: 600px){
		padding: 0;
	}
}
.book-title {
	padding-bottom: 12px;
}
.book-text {
	padding-top: 30px;
}
