.heder-body {
	font-size: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 45px;
	@media (max-width: 375px){
		padding-top: 10px;
	}
}
.heder-body-blok {}
.heder-list {
	font-size: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.heder-link {
	margin-right: 70px;
	@media (max-width: 800px){
		margin-right: 3vw;
	}
}
.heder-link:last-child {
	margin: 0;
}
.heder-Logo{
	display: block;
	@media (max-width: 800px){
		width: 128px;
		height: 30px;
	}
}
.heder-Logo img{
	width: 100%;
	height: 100%;
	display: block;
}