.test {
	background: #5faf2d;
	transition: 1s;
	overflow: hidden;
	height: 420px;
	@media (max-width: 700px){
		height: 440px;
	}
	@media (max-width: 500px){
		height: 450px;
	}
}
.test.a1 {
	height: 420px;
	@media (max-width: 700px){
		height: 470px;
	}
	@media (max-width: 500px){
		height: 520px;
	}
}
.test.a2 {
	height: 500px;
	@media (max-width: 700px){
		height: 600px;
	}
	@media (max-width: 500px){
		height: 690px;
	}
}
.test.a3 {
	height: 550px;
	@media (max-width: 700px){
		height: 720px;
	}
	@media (max-width: 500px){
		height: 800px;
	}
}
.test.a4 {
	height: 750px;
	@media (max-width: 1000px){
		height: 800px;
	}
	@media (max-width: 700px){
		height: 1250px;
	}
	@media (max-width: 500px){
		height: 1400px;
	}
}





















.test-body {
	position: relative;
	overflow: hidden;
}
.slaid-1-title {
	padding-bottom: 35px;
	position: relative;
	display: inline-block;
}
.slaid-1-title-img {
	position: absolute;
	top: 10px;
	left: 0;
	transform: translate(-50%,-50%);
}
.slaid-1text-white-b {
	padding-bottom: 30px;
}
.slaid-1-text {
	padding-bottom: 25px;
}
.slaid-1-buttton {
	width: 265px;
	height: 65px;
	background: #7ed114;
	border-radius: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	margin-top: 25px;
	cursor: pointer;
}
.slaid-1-buttton img{
	margin-left: 8px;
}





.slaid-2-title {
	text-align: center;
	padding-bottom: 35px;
	@media (max-width: 700px){
		text-align: left;
	}
}
.slaid-2-text {
	padding-bottom: 8px;
	padding-left: 10px;
}
input[type=text],input[type=email],input[type=tel],[type=radio],textarea{
	appearance:none;
}

.slaid-2-text input[type=radio]{
	appearance:none;
	border-radius: 50%;
	width: 27px;
	height: 27px;
	position: relative;
	left: -10px;
	top: 6px;
	background-color: #fff;
	border: 2px solid #fff;
}
.slaid-2-text input[type=radio]:checked{
	background-color: #7ed114;
}
.slaid-2-chifru {
	font-weight: 800;
	color: #fff;
	font-size: 16px;
	line-height: 16.58px;
	padding-bottom: 0;
}
.title-white-b {}
.slaid-2-radio {
	padding-bottom: 50px;
}
.slaib-2-progresbar {
	width: 100%;
	font-size: 0;
	display: flex;
	align-items: center;
	@media (max-width: 700px){
		flex-direction: column;
		align-items: flex-start;
	}
}
.slaib-2-progresbar-img {
	width: 535px;
	height: 13px;
	overflow: hidden;
	background: rgba(255, 255, 255, 76%);
	border-radius: 20px;
	margin-right: 65px;
	@media (max-width: 700px){
		width: 100%;
		margin-bottom: 40px;
		margin-top: 5px;
	}
}
.slaid-2-buttton {
	width: 175px;
	height: 45px;
	background: #7ed114;
	border-radius: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.slaib-2-progresbar-img div {
	width: 100%;
	height: 100%;
	background: #7ed114;
	position: relative;
	left: -100%;
	top: 0;
}
.slaib-2-progresbar-img.s1 div {
	left: -91%;
	top: 0;
}
.slaib-2-progresbar-img.s2 div {
	left: -82%;
	top: 0;
}
.slaib-2-progresbar-img.s3 div {
	left: -73%;
	top: 0;
}
.slaib-2-progresbar-img.s4 div {
	left: -64%;
	top: 0;
}
.slaib-2-progresbar-img.s5 div {
	left: -55%;
	top: 0;
}
.slaib-2-progresbar-img.s6 div {
	left: -46%;
	top: 0;
}
.slaib-2-progresbar-img.s7 div {
	left: -37%;
	top: 0;
}
.slaib-2-progresbar-img.s8 div {
	left: -28%;
	top: 0;
}
.slaib-2-progresbar-img.s9 div {
	left: -19%;
	top: 0;
}
.slaib-2-progresbar-img.s10 div {
	left: -10%;
	top: 0;
}
.slaib-2-progresbar-img.s11 div {
	left: 0;
	top: 0;
}
.slaid-2-buttton img{
	margin-left: 8px;
}
.button-white-b {}










.slaid-3-buttton {
	width: 175px;
	height: 45px;
	background: #7ed114;
	border-radius: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.slaid-3-title {
	font-size: 25px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 800;
	line-height: 29px;
	text-align: center;
	padding-bottom: 15px;
	@media (max-width: 700px){
		text-align: left;
	}
}
.slaid-3-text {
	font-size: 14px;
	color: #fff;
	font-weight: 400;
	line-height: 14.35px;
	text-align: center;
	padding-bottom: 45px;
	@media (max-width: 700px){
		text-align: left;
	}
}

.slaid-3-blok {
	font-size: 0;
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.slaid-3-blok-elem-1 {
	width: 60%;
	min-height: 42px;
	font-size: 14px;
	color: #fff;
	font-weight: 400;
	line-height: 14.35px;
	text-align: left;
	padding:13px;
	border: 1px solid #fff;
	margin-right: 15px;
	margin-bottom: 10px;
	border-radius: 5px;
}
.slaid-3-blok-elem-2 {
	width: 30%;
	height: 42px;
	font-size: 14px;
	color: #fff;
	font-weight: 400;
	line-height: 14.35px;
	text-align: left;
	padding:13px;
	border: 1px solid #fff;
	margin-right: 15px;
	border-radius: 5px;
}
.slaid-3-blok-elem-3 {
	width: 10%;
	display: flex;
	justify-content: flex-end;
}
.slaid-3-blok-elem-3 input{
	width: 55px;
	height: 42px;
	padding: 13px;
	color: #fff;
	text-transform: uppercase;
	border: 1px solid #fff;
	border-radius: 5px;
	display: block;
	background: none;
}



.slaid-4-buttton {
	width: 175px;
	height: 45px;
	background: #7ed114;
	border-radius: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.slaid-4-buttton img{
	margin-left: 8px;
}


.otvet {
	padding: 70px 0;
	margin-left: 150px;
	background: #5faf2d;
	text-align: left;
	@media (max-width: 993px){
		margin: 0;
	}
}
.otvet h3{
	font-weight: 800;
	font-size: 25px;
	line-height: 25.9px;
	color: #fff;
	@media (max-width: 993px){
		text-align: center;
	}
}
.otvet div{
	padding-left: 135px;
	@media (max-width: 993px){
		padding: 0;
	}
}
.otvet div h2{
	font-weight: 800;
	font-size: 31px;
	line-height: 32.12px;
	color: #fff;
	padding: 30px 0 15px 0;
	@media (max-width: 993px){
		padding: 50px 0 15px 0;
		text-align: center;
	}
}
.otvet div p{
	font-weight: 400;
	font-size: 18px;
	line-height: 18.45px;
	max-width: 650px;
	color: #fff;
	@media (max-width: 993px){
		text-align: center;
		margin: 0 auto;
	}
}



.slaid-3-blok {
	font-size: 0;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	min-width: 100%;
	@media (max-width: 700px){
		flex-direction: column;
		align-items: flex-start;
	}
}
.slaid-3-blok-left {
	flex: 0 0 45%;
	padding-right: 10px;
	@media (max-width: 700px){
		width: 100%;
		flex: 0 0 100%;
		padding: 0;
		margin-bottom: 25px;
	}
}
.slaid-3-blok-elem-1 {
	width: 100%;
	@media (max-width: 700px){
		margin-bottom: 15px;
	}
}
.slaid-3-blok-reght {
	flex: 0 0 50%;
	@media (max-width: 700px){
		flex: 0 0 100%;
		width: 100%;
	}
}
.slaid-3-blok-reght-blok {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	padding-left: 75px;
	@media (max-width: 700px){
		margin-bottom: 15px;
		padding: 0;
	}
}
.slaid-3-blok-elem-2 {
	flex: 0 0 70%;
}
.slaid-3-blok-elem-3 {
	flex: 0 0 20%;
}

.slaid-butttons {
	width: 175px;
	height: 45px;
	background: #7ed114;
	border-radius: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}



.slaid-1 {
	padding: 70px 0;
	text-align: center;
	position: absolute;
	transition: 1s;
	width: 100%;
	height: 380px;
	top: 0;
	left: 0;
}
.slaid-1.off{
	left: -120%;
}
.slaid-1.one{
	left:0;
	top: 0;
}

.slaid-2 {
	padding: 70px 0;
	transition: 1s;
	position: absolute;
	width: 100%;
	height: 380px;
	top: 0;
	left: -120%;
}
.slaid-2.one{
	left: 0;
}
.slaid-2.off{
	left: -120%;
}

.slaid-3 {
	padding: 70px 0;
	transition: 1s;
	position: relative;
	left: -120%;
	top: 0;
	background: #5faf2d;
}
.slaid-3.one{
	left: 0;
}
.slaid-3.off{
	left: -120%;
}

.slaid-4{
	padding-top: 120px;
	position: absolute;
	transition: 1s;
	left: -120%;
	top: 0;
	display: none;
}
.slaid-4.one{
	left: 0;
}
.slaid-4.off{
	left: -120%;
}

.slaid-5 {
	padding: 70px 0;
	transition: 1s;
	position: absolute;
	width: 100%;
	height: 380px;
	top: 0;
	left: -120%;
}
.slaid-5.one{
	left: 0;
}
.slaid-5.off{
	left: -120%;
}

.slaid-6 {
	padding: 70px 0;
	transition: 1s;
	position: absolute;
	width: 100%;
	height: 380px;
	top: 0;
	left: -120%;
}
.slaid-6.one{
	left: 0;
}
.slaid-6.off{
	left: -120%;
}

.slaid-7 {
	padding: 70px 0;
	transition: 1s;
	position: absolute;
	width: 100%;
	height: 380px;
	top: 0;
	left: -120%;
}
.slaid-7.one{
	left: 0;
}
.slaid-7.off{
	left: -120%;
}

.slaid-8 {
	padding: 70px 0;
	transition: 1s;
	position: absolute;
	width: 100%;
	height: 380px;
	top: 0;
	left: -120%;
}
.slaid-8.one{
	left: 0;
}
.slaid-8.off{
	left: -120%;
}

.slaid-9 {
	padding: 70px 0;
	transition: 1s;
	position: absolute;
	width: 100%;
	height: 380px;
	top: 0;
	left: -120%;
}
.slaid-9.one{
	left: 0;
}
.slaid-9.off{
	left: -120%;
}

.slaid-10 {
	padding: 70px 0;
	transition: 1s;
	position: absolute;
	width: 100%;
	height: 380px;
	top: 0;
	left: -120%;
}
.slaid-10.one{
	left: 0;
}
.slaid-10.off{
	left: -120%;
}

.slaid-11 {
	padding: 70px 0;
	transition: 1s;
	position: absolute;
	width: 100%;
	height: 380px;
	top: 0;
	left: -120%;
}
.slaid-11.one{
	left: 0;
	top: 0;
}
.slaid-11.off{
	left: -120%;
	top: 0;
}

.slaid-12 {
	padding: 70px 0;
	transition: 1s;
	position: absolute;
	width: 100%;
	height: 380px;
	top: 0;
	left: -120%;
}
.slaid-12.one{
	left: 0;
	top: 0;
}
.slaid-12.off{
	left: -120%;
	top: 0;
}
.slaid-13 {
	padding: 70px 0;
	transition: 1s;
	position: absolute;
	width: 100%;
	height: 380px;
	top: 0;
	left: -120%;
}
.slaid-13.one{
	left: 0;
	top: 0;
}
.slaid-13.off{
	left: -120%;
	top: 0;
}
.slaid-14 {
	padding: 70px 0;
	transition: 1s;
	position: absolute;
	width: 100%;
	height: 380px;
	top: 0;
	left: -120%;
}
.slaid-14.one{
	left: 0;
	top: 0;
}
.slaid-14.off{
	left: -120%;
	top: 0;
}
.slaid-15 {
	padding: 70px 0;
	transition: 1s;
	position: absolute;
	width: 100%;
	height: 380px;
	top: 0;
	left: -120%;
}
.slaid-15.one{
	left: 0;
	top: 0;
}
.slaid-15.off{
	left: -120%;
	top: 0;
}
.slaid-16 {
	padding: 70px 0;
	transition: 1s;
	position: absolute;
	width: 100%;
	height: 380px;
	top: 0;
	left: -120%;
}
.slaid-16.one{
	left: 0;
	top: 0;
}
.slaid-16.off{
	left: -120%;
	top: 0;
}
































